h1.jumbo {
    color: white;
    text-align: center;
    font-size: 72px;
}

.jumbotron {
    background-image: url('https://i.ytimg.com/vi/Fl7V5dX5IrM/maxresdefault.jpg');
    background-size: contain;
    display: flex;
    height: 300px;
}

ul {
    display: table;
    margin: 0 auto;

    
}

#menu li {
    display: inline;
    list-style-type:none;
    padding-left: 20px;
    font-size: 20px;
}


